@charset "utf-8";
/* CSS Document */
.left_bottom_part {bottom: 0px;}
.left_bottom_part >ul{margin: 0px;
padding: 0px;
list-style-type: none;
/* padding: 24px; */
font-size: 12px;}
.left_bottom_part >ul >li{padding: 9px;
padding-left: 28px;
border-bottom: 1px solid #ccc;background: url(../images/left_heading.jpg);
cursor: pointer;}
.left_bottom_part >ul >li:hover{background: rgba(37, 124, 223, 0.15);}
.left_bottom_part >ul >li >.graph_user_1,.calender_user_1,.contact_user_1,.create_view,.recent_open,.my_doc{ float:left !important;margin-right: 4px !important;}
.left_bottom_part >ul >li >span{line-height: 18px;}
.left_sub_menu ul li.file_system {
padding-top: 8px !important;
padding-bottom: 8px !important;background: url(../images/left_heading.jpg);
}
.my_doc_icon{background:url(../images/left_icon.png)!important;
background-repeat: no-repeat!important;
background-position: 0px -3px, center!important;
width: 16px!important;
height: 16px!important;
float: left!important;
margin-right: 10px!important;}
/********  1350 line and  line 213, line 3270  ***********/
.path {
margin-left: 5px;
line-height: 15px;
}
.new_option{float: right; display:none;}
.new_option >ul{margin: 0px;
padding: 0px;
list-style-type: none;
font-size: 11px;}
.new_option >ul >li{float: left;
margin-left: 6px;
margin-right: 12px; cursor:pointer;}
.new_more{width: 200px;
background: #fff; border:1px solid #ccc;
z-index: 3;
position: absolute;}
.new_more { display:none;}
.new_more >ul {margin: 0px;
padding: 0px;}
.new_more >ul >li {text-transform: uppercase;
font-size: 11px;
list-style-type: none;
padding: 6px;
border-bottom: 1px solid #ccc;}
.thum_view{ display:none;}
.right_icon {
width: 23px !important;
border: 1px solid #EAEAEA;
padding-top: 3px !important;
padding-left: 7px !important;
/* top: 7px; */
margin-top: 3px !important;
}
.right_icon:hover{border: 1px solid #ccc;}
.list_view{ margin-left:-2px !important;}
.serach_top >input{border: 0px;
width: 95%;
height: 24px;
outline: 0px;
padding-left: 10px;}
.serach_top >span{cursor: pointer;
width: 12px;margin-top: 8px;
height: 10px;
display: block;
float: right;}
.serach_top >span >img{width: 8px;
/* float: right; */
/* margin-top: 2px; */
/* margin-right: 2px; */
opacity: 0.5;
display: block;
margin: 0 auto;}
.left_bottom_part >ul >li.active_left{background: rgba(37, 124, 223, 0.15);}
ul.icon_left_descri >li.peroperty:hover{ background: rgba(37, 124, 223, 0.15) url(../images/right_icon.png);height: 20px;
background-repeat: no-repeat; cursor:pointer;
background-position: 24px 6px, center;}
ul.icon_left_descri >li.note:hover {
background: rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
height: 20px;cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -45px, center;
}
ul.icon_left_descri >li.keyword:hover {
background: rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
height: 20px;cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -87px, center;
}
ul.icon_left_descri >li.history_right:hover {
background:rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
height: 19px;cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -173px, center;
}
ul.icon_left_descri >li.prew:hover {
background:rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
height: 20px;cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -213px, center;
}
ul.icon_left_descri >li.permi:hover {
background:rgba(37, 124, 223, 0.15) url(../images/peremission.png);
height: 20px;cursor:pointer;
background-repeat: no-repeat;
background-position: 24px , center;
}
.content_left > ul >li:hover {
background-repeat: no-repeat;
border-bottom: 0px;
background-position: 28px,30px, center !important;
/* padding-left: 32px !important; */
background: rgba(37, 124, 223, 0.15) url(../images/dott_1.png);
padding-top: 0px;
background-repeat: repeat-Y !important;
padding-bottom: 0px;
}
.content_left > ul >li:hover >.folder {
height: 29px;
width: 52px;
background: url(../images/folder_with_path.png);
background-repeat: no-repeat;
}
.share_link >img{width: 21px;
opacity: 0.5;}
.share_people >img{width: 15px;
margin-top: 1px;}
.more_delete{}
.new_option_folder{ display:none;}
.new_option_file{ display:none}
.new_option_folder{ float:right;margin-top: 5px;}
.new_option_folder >ul{ list-style-type:none; margin:0px; padding:0px;}
.new_option_folder >ul >li{ float:left;font-size: 12px;
margin-right: 15px;}
.new_option_file{ float:right;margin-top: 5px;}
.new_option_file >ul{ list-style-type:none; margin:0px; padding:0px;}
.new_option_file >ul >li{ float:left;font-size: 12px;
margin-right: 15px;}
.new_more_folder{width: 200px;
background: #fff; border:1px solid #ccc;
z-index: 3;
position: absolute;}
.new_more_folder { display:none;}
.new_more_folder >ul {margin: 0px;
padding: 0px;}
.new_more_folder >ul >li {text-transform: uppercase;
font-size: 11px;
list-style-type: none;
padding: 6px; cursor:pointer;
border-bottom: 1px solid #ccc;}


.new_more_file{
background: #fff; border:1px solid #ccc;
z-index: 3;
position: absolute;}
.new_more_file { display:none;}
.new_more_file >ul {margin: 0px;
padding: 0px;}
.new_more_file >ul >li {text-transform: uppercase;
font-size: 11px;
list-style-type: none;
padding: 6px;
border-bottom: 1px solid #ccc;}
.active_left{}
.new_option_folder >ul >li{ position:relative;}
.new_option_folder >ul >li >span{position: absolute;
top: 4px;
right: 0px;
margin-right: 0px;
font-size: 14px;
color: #143211;}
.right_create_folder1 >img{ width: 18px;
opacity: 0.6;}
.right_create_folder1:hover >img{ opacity:1}
.right_create_folder1{position: relative;
width: 19px;
padding: 3px;
border: 1px solid #EAEAEA; float:left;}
.right_create_folder1:hover{ border: 1px solid #ccc;cursor:pointer;}
.right_create_folder1 >span{position: absolute;
top: 4px;
right: 2px;
margin-right: 0px;
font-size: 14px;
color: #143211;}
.right_upload_folder1{}
.new_folder_icon{float: right;margin-top: 3px;}
.right_upload_folder1{ position: relative;
float: left;
padding: 3px;
border: 1px solid #EAEAEA;
margin-left: 3px;
height:18px !important;
width: 29px;

}
.right_upload_folder1:hover{border: 1px solid #ccc; cursor:pointer;}
.right_upload_folder1 >img{ width:21px; opacity:0.7;
margin-top: 2px !important;
display: block;
margin: 0 auto;
}
.right_upload_folder1:hover >img{  opacity:1}
.right_upload_folder1 >span{width: 13px;
/* position: absolute; */
right: 21px;
position: absolute;
top: 5px;}
.right_upload_folder1 >span >img{ width: 12px;
position: absolute;
right: -20px;
top: 4px;}
.preview_file{margin-top: -2px;}
.more_delete{opacity: 0.7;}
.preview_file{ cursor:pointer;}
.share_link{ cursor:pointer;}
.share_link >img{cursor:pointer;}
.share_people { cursor:pointer;}
.share_people:hover >img{opacity:1; cursor:pointer;}
.link_share:hover >img{opacity:1; cursor:pointer;}
.preview_file:hover >img{opacity:1; cursor:pointer;}
.more_delete:hover{opacity:1; cursor:pointer;}
.new_more_icon_folder >img{width: 18px;
opacity: 0.5;}
.new_more_icon_folder:hover >img{width: 18px;
opacity: 1; cursor:pointer;}
.new_more_folder >ul >li:last-child{ border-bottom:none;}

.new_option_folder>ul>li >img {
margin: 0 auto;
display: block;
}
.new_option_folder >ul >li {
float: left;
font-size: 12px;
margin-right: 5px;
border: 1px solid #E8E7E7;
height: 22px;
padding-top: 1px;
margin-top: -2px;
padding-bottom: 1px;
width: 29px;
}
.new_option_folder >ul >li:hover {
border: 1px solid #ccc;
}

.new_option_file >ul >li {
float: left;
font-size: 12px;
margin-right: 5px;
border: 1px solid #E8E7E7;
height: 22px;
padding-top: 1px;
margin-top: -2px;
padding-bottom: 1px;
width: 29px;
}
.new_option_file >ul >li:hover {
border: 1px solid #ccc;
}





li.link_share >img {
margin-top: 6px !important;
}

li.share_people >img {
margin-top: 4px !important;
}
li.more_delete >img {
margin-top: 3px !important;
}

li.new_more_icon_folder >img {
margin-top: 9px !important;
}



.new_more_folder >ul >li {
padding-left: 22px;
padding-right: 33px;
}
.new_more_folder {
width: auto !important; 
-webkit-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
/* margin-left: 32px; */
}

.new_more_folder >ul >li:hover {
/* background: #fff; */
background: rgba(37, 124, 223, 0.15);
}















.new_more_file_only >ul >li {
padding-left: 22px;
padding-right: 33px;
}
.new_more_file_only {
width: auto !important; 
-webkit-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
/* margin-left: 32px; */
}


.new_more_file_only >ul >li:hover {
/* background: #fff; */
background: rgba(37, 124, 223, 0.15);
}

.new_more_folder >ul >li {
padding-left: 22px;
padding-right: 33px;
background: url(../images/left_heading.jpg);
}
.new_more_file >ul >li {
padding-left: 22px;
padding-right: 33px;
background: url(../images/left_heading.jpg);
}
.new_more_icon_file >img{width: 18px;
margin-top: 9px !important;
display: block;
margin: 0 auto;
cursor: pointer;}
.new_more_file >ul >li:hover {
/* background: #fff; */
background: rgba(37, 124, 223, 0.15);
}
.initive_people {
width: 451px !important;
outline: 0px;
border: 1px solid #DBDBDB;
}
.sharing_mange >.table_append >table >tbody >tr >td {
font-size: 13px;
padding: 5px;
width: 50%;
}
.sharing_mange >.table_append >table >tbody >tr.share_bottom {
display: block;
/* border-bottom: 1px solid #ccc; */
border-bottom: none !important;
}

.share_right {
float: right;
padding-bottom: 17px;
padding-top: 17px;
}
.sharing_mange >h1 {
margin: 0px;
padding: 0px;
font-size: 16px;
padding: 8px;
background: url(../images/left_heading.jpg);
border-bottom: 1px solid #ccc;
font-size: 13px;
/* background: #ccc; */
font-size: 15px;
background: #ddd9d9;
background: -moz-linear-gradient(top, #EDEDED 2%, #EDEDED 50%, #ddd9d9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ddd9d9), color-stop(50%,#EDEDED), color-stop(100%,#ddd9d9));
background: -webkit-linear-gradient(top, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
background: -o-linear-gradient(top, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
background: -ms-linear-gradient(top, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
background: linear-gradient(to bottom, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd9d9', endColorstr='#ddd9d9',GradientType=0 );
/* border-bottom: 1px solid #Ccc; */
font-weight: normal;
text-transform: capitalize;
font-size: 16px;
padding-left: 34px;
}

.share_more {
float: right;
/* padding-top: 6px !important; */
/* padding-left: 8px !important; */
/* padding-right: 8px !important; */
padding-bottom: 6px !important;
background: #DFDFDF !important;
border: 1px solid #ccc;
font-size: 12px !important;
padding: 6px !important;
}

.send_share, .cancel_share {
padding: 6px !important;
}
#contactdiv_6 input[type=file] {
margin-bottom: 15px;
}





.sharing_mange{-webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
box-shadow: 0 4px 16px rgba(0,0,0,.2);
}
.delete_shre {
margin-left: 10px;
}
#contactdiv_6{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_66{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_77{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_666{background: rgba(247, 247, 247, 0.7) !important;}
.permission_content >table >tbody >tr >td {
/*border-right: 1px solid #ccc;*/
/*width: 400px;*/
padding-left: 20px;
}
.permission_content >table >tbody >tr {
padding: 4px;
display: block;
border-bottom: 1px solid #ccc;
text-transform: capitalize;
}
.new_option_file > ul  >li.preview_file >img{margin-top: 4px;}

.blank_image{width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;

background-position: 3px -2980px;
background-image: 10px 30px;
background-size: 57px !important;
background-repeat: no-repeat;

}
.new_msexcel{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -2703px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_word{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -436px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_ppt{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -1820px;
background-image: 10px 30px;
background-size: 57px !important;
background-repeat: no-repeat;
}

.new_pdf{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -1535px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}

.new_jpg{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -5636px;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_txt{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -2398px;

background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_gif{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -5636px;
background-image: 10px 30px;
background-size: 57px !important;
}

.new_png{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -1681px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_gif{
width: 59px;
height: 74px;
background: url(../images/folder_length3.png);
 background-repeat: no-repeat;   
background-position: 3px -2980px;
margin: 0 auto;
background-image: 10px 30px;
background-size: 57px !important;
}

.new_xml{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -5636px;
background-image: 10px 30px;
background-size: 57px !important;
}

.row_content ul li {
width: 89px !important;
min-height: 85px  !important;   

}
<!-- mozilla started here-->
@-moz-document url-prefix() {
#contactdiv_66 input[type="button"] {
    line-height: 22px ;
   font-weight: normal;
   font-family: arial;
}

#contactdiv_6 input[type="button"] {
    line-height: 22px ;
   font-weight: normal;
   font-family: arial;
}
#contactdiv_6 input[type="file"] {
   margin-bottom: 18px;
}


}
<!--mozilla end here-->