@charset "utf-8";
/* CSS Document */
.left_bottom_part {bottom: 0px;}
.left_bottom_part >ul{margin: 0px;
padding: 0px;
list-style-type: none;
/* padding: 24px; */
font-size: 12px;}
.left_bottom_part >ul >li{padding: 9px;
padding-left: 28px;
border-bottom: 1px solid #ccc;background: url(../images/left_heading.jpg);
cursor: pointer;}
.left_bottom_part >ul >li:hover{background: rgba(37, 124, 223, 0.15);}
.left_bottom_part >ul >li >.graph_user_1,.calender_user_1,.contact_user_1,.create_view,.recent_open,.my_doc{ float:left !important;margin-right: 4px !important;}
.left_bottom_part >ul >li >span{line-height: 18px;}
.left_sub_menu ul li.file_system {
padding-top: 8px !important;
padding-bottom: 8px !important;background: url(../images/left_heading.jpg);
}
.my_doc_icon{background:url(../images/left_icon.png)!important;
background-repeat: no-repeat!important;
background-position: 0px -3px, center!important;
width: 16px!important;
height: 16px!important;
float: left!important;
margin-right: 10px!important;}
/********  1350 line and  line 213, line 3270  ***********/
.path {
margin-left: 5px;
line-height: 15px;
}
.new_option{float: right; display:none;}
.new_option >ul{margin: 0px;
padding: 0px;
list-style-type: none;
font-size: 11px;}
.new_option >ul >li{float: left;
margin-left: 6px;
margin-right: 12px; cursor:pointer;}
.new_more{width: 200px;
background: #fff; border:1px solid #ccc;
z-index: 3;
position: absolute;}
.new_more { display:none;}
.new_more >ul {margin: 0px;
padding: 0px;}
.new_more >ul >li {text-transform: uppercase;
font-size: 11px;
list-style-type: none;
padding: 6px;
border-bottom: 1px solid #ccc;}
.thum_view{ display:none;}
.right_icon {
width: 23px !important;
border: 1px solid #EAEAEA;
padding-top: 3px !important;
padding-left: 7px !important;
/* top: 7px; */
margin-top: 3px !important;
}
.right_icon:hover{border: 1px solid #ccc;}
.list_view{ margin-left:-2px !important;}
.serach_top >input{border: 0px;
width: 95%;
height: 24px;
outline: 0px;
padding-left: 10px;}
.serach_top >span{cursor: pointer;
width: 12px;margin-top: 8px;
height: 10px;
display: block;
float: right;}
.serach_top >span >img{width: 8px;
/* float: right; */
/* margin-top: 2px; */
/* margin-right: 2px; */
opacity: 0.5;
display: block;
margin: 0 auto;}
.left_bottom_part >ul >li.active_left{background: rgba(37, 124, 223, 0.15);}
ul.icon_left_descri >li.peroperty:hover{ 
	background: rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
background-repeat: no-repeat; cursor:pointer;
background-position: 24px 6px, center;}
ul.icon_left_descri >li.note:hover {
background: rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -45px, center;
}
ul.icon_left_descri >li.keyword:hover {
background: rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -87px, center;
}
ul.icon_left_descri >li.history_right:hover {
background:rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -173px, center;
}
ul.icon_left_descri >li.prew:hover {
background:rgba(37, 124, 223, 0.15) url(../images/right_icon.png);
cursor:pointer;
background-repeat: no-repeat;
background-position: 24px -213px, center;
}
ul.icon_left_descri >li.permi:hover {
background:rgba(37, 124, 223, 0.15) url(../images/peremission.png);
cursor:pointer;
background-repeat: no-repeat;
background-position: 24px , center;
}
.content_left > ul >li:hover {
background-repeat: no-repeat;
border-bottom: 0px;
background-position: 28px,30px, center !important;
/* padding-left: 32px !important; */
background: rgba(37, 124, 223, 0.15) url(../images/dott_1.png);
padding-top: 0px;
background-repeat: repeat-Y !important;
padding-bottom: 0px;
}
.content_left > ul >li:hover >.folder {
height: 29px;
width: 52px;
background: url(../images/folder_with_path.png);
background-repeat: no-repeat;
}
.share_link >img{width: 21px;
opacity: 0.5;}
.share_people >img{width: 15px;
margin-top: 1px;}
.more_delete{}
.new_option_folder{ display:none;}
.new_option_file{ display:none}
.new_option_folder{ float:right;margin-top: 5px;}
.new_option_folder >ul{ list-style-type:none; margin:0px; padding:0px;}
.new_option_folder >ul >li{ float:left;font-size: 12px;
margin-right: 15px;}
.new_option_file{ float:right;margin-top: 5px;}
.new_option_file >ul{ list-style-type:none; margin:0px; padding:0px;}
.new_option_file >ul >li{ float:left;font-size: 12px;
margin-right: 15px;}
.new_more_folder{width: 200px;
background: #fff; border:1px solid #ccc;
z-index: 3;
position: absolute;}
.new_more_folder { display:none;}
.new_more_folder >ul {margin: 0px;
padding: 0px;}
.new_more_folder >ul >li {text-transform: uppercase;
font-size: 11px;
list-style-type: none;
padding: 6px; cursor:pointer;
border-bottom: 1px solid #ccc;}


.new_more_file{
background: #fff; border:1px solid #ccc;
z-index: 3;
position: absolute;}
.new_more_file { display:none;}
.new_more_file >ul {margin: 0px;
padding: 0px;}
.new_more_file >ul >li {text-transform: uppercase;
font-size: 11px;
list-style-type: none;
padding: 6px;
border-bottom: 1px solid #ccc;}
.active_left{}
.new_option_folder >ul >li{ position:relative;}
.new_option_folder >ul >li >span{position: absolute;
top: 4px;
right: 0px;
margin-right: 0px;
font-size: 14px;
color: #143211;}
.right_create_folder1 >img{ width: 18px;
opacity: 0.6;}
.right_create_folder1:hover >img{ opacity:1}
.right_create_folder1{position: relative;
width: 19px;
padding: 3px;
border: 1px solid #EAEAEA; float:left;}
.right_create_folder1:hover{ border: 1px solid #ccc;cursor:pointer;}
.right_create_folder1 >span{position: absolute;
top: 4px;
right: 2px;
margin-right: 0px;
font-size: 14px;
color: #143211;}
.right_upload_folder1{}
.new_folder_icon{float: right;margin-top: 3px;}
.right_upload_folder1{ position: relative;
float: left;
padding: 3px;
border: 1px solid #EAEAEA;
margin-left: 3px;
height:18px !important;
width: 29px;

}
.right_upload_folder1:hover{border: 1px solid #ccc; cursor:pointer;}
.right_upload_folder1 >img{ width:21px; opacity:0.7;
margin-top: 2px !important;
display: block;
margin: 0 auto;
}
.right_upload_folder1:hover >img{  opacity:1}
.right_upload_folder1 >span{width: 13px;
/* position: absolute; */
right: 21px;
position: absolute;
top: 5px;}
.right_upload_folder1 >span >img{ width: 12px;
position: absolute;
right: -20px;
top: 4px;}
.preview_file{margin-top: -2px;}
.more_delete{/* opacity: 0.7; */}
.preview_file{ cursor:pointer;}
.share_link{ cursor:pointer;}
.share_link >img{cursor:pointer;}
.share_people { cursor:pointer;}
.share_people:hover >img{opacity:1; cursor:pointer;}
.link_share:hover >img{opacity:1; cursor:pointer;}
.preview_file:hover >img{opacity:1; cursor:pointer;}
.more_delete:hover{opacity:1; cursor:pointer;}
.new_more_icon_folder >img{width: 18px;
opacity: 0.5;}
.new_more_icon_folder:hover >img{width: 18px;
opacity: 1; cursor:pointer;}
.new_more_folder >ul >li:last-child{ border-bottom:none;}

.new_option_folder>ul>li >img {
margin: 0 auto;
display: block;
}
.new_option_folder >ul >li {
float: left;
font-size: 12px;
margin-right: 5px;
border: 1px solid #E8E7E7;
height: 22px;
padding-top: 1px;
margin-top: -2px;
padding-bottom: 1px;
width: 29px;
}
.new_option_folder >ul >li:hover {
border: 1px solid #ccc;
}

.new_option_file >ul >li {
float: left;
font-size: 12px;
margin-right: 5px;
border: 1px solid #E8E7E7;
height: 22px;
padding-top: 1px;
margin-top: -2px;
padding-bottom: 1px;
width: 29px;
}
.new_option_file >ul >li:hover {
border: 1px solid #ccc;
}





li.link_share >img {
margin-top: 6px !important;
}

li.share_people >img {
margin-top: 4px !important;
}
li.more_delete >img {
margin-top: 3px !important;
}

li.new_more_icon_folder >img {
margin-top: 9px !important;
}



.new_more_folder >ul >li {
padding-left: 22px;
padding-right: 33px;
}
.new_more_folder {
width: auto !important; 
-webkit-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
/* margin-left: 32px; */
}

.new_more_folder >ul >li:hover {
/* background: #fff; */
background: rgba(37, 124, 223, 0.15);
}















.new_more_file_only >ul >li {
padding-left: 22px;
padding-right: 33px;
}
.new_more_file_only {
width: auto !important; 
-webkit-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
box-shadow: 0px 3px 5px 0px rgba(144, 142, 142, 0.75);
/* margin-left: 32px; */
}


.new_more_file_only >ul >li:hover {
/* background: #fff; */
background: rgba(37, 124, 223, 0.15);
}

.new_more_folder >ul >li {
padding-left: 22px;
padding-right: 33px;
background: url(../images/left_heading.jpg);
}
.new_more_file >ul >li {
padding-left: 22px;
padding-right: 33px;
background: url(../images/left_heading.jpg);
}
.new_more_icon_file >img{width: 18px;
margin-top: 9px !important;
display: block;
margin: 0 auto;
cursor: pointer;}
.new_more_file >ul >li:hover {
/* background: #fff; */
background: rgba(37, 124, 223, 0.15);
}
.initive_people {
width: 415px !important;
outline: 0px;
border: 1px solid #DBDBDB;
}
.sharing_mange >.table_append >table >tbody >tr >td {
font-size: 13px;
padding: 5px;
width: 50%;
}
.sharing_mange >.table_append >table >tbody >tr.share_bottom {
display: block;
/* border-bottom: 1px solid #ccc; */
border-bottom: none !important;
}

.share_right {
float: right;
padding-bottom: 17px;
padding-top: 17px;
}
.sharing_mange >h1 {
margin: 0px;
padding: 0px;
font-size: 16px;
padding: 8px;
background: url(../images/left_heading.jpg);
border-bottom: 1px solid #ccc;
font-size: 13px;
/* background: #ccc; */
font-size: 15px;
background: #ddd9d9;
background: -moz-linear-gradient(top, #EDEDED 2%, #EDEDED 50%, #ddd9d9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ddd9d9), color-stop(50%,#EDEDED), color-stop(100%,#ddd9d9));
background: -webkit-linear-gradient(top, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
background: -o-linear-gradient(top, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
background: -ms-linear-gradient(top, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
background: linear-gradient(to bottom, #EDEDED 2%,#EDEDED 50%,#ddd9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd9d9', endColorstr='#ddd9d9',GradientType=0 );
/* border-bottom: 1px solid #Ccc; */
font-weight: normal;
text-transform: capitalize;
font-size: 16px;
padding-left: 34px;
}

.share_more {
float: right;
/* padding-top: 6px !important; */
/* padding-left: 8px !important; */
/* padding-right: 8px !important; */
padding-bottom: 6px !important;
background: #DFDFDF !important;
border: 1px solid #ccc;
font-size: 12px !important;
padding: 6px !important;
}

.send_share, .cancel_share {
padding: 6px !important;
}
#contactdiv_6 input[type=file] {
margin-bottom: 15px;
}

#contactdiv_616 input[type=file] {
margin-bottom: 15px;
}





.sharing_mange{-webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
box-shadow: 0 4px 16px rgba(0,0,0,.2);
}
.delete_shre {
margin-left: 10px;
}
#contactdiv_6{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_616{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_getLink{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_66{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_77{background: rgba(247, 247, 247, 0.7) !important;}
#contactdiv_666{background: rgba(247, 247, 247, 0.7) !important;}
.permission_content >table >tbody >tr >td {
/*border-right: 1px solid #ccc;*/
/*width: 400px;*/
padding-left: 20px;
}
.permission_content >table >tbody >tr {
padding: 4px;
display: block;
border-bottom: 1px solid #ccc;
text-transform: capitalize;
}
.new_option_file > ul  >li.preview_file >img{margin-top: 4px;}


/* thumbnail view */

.blank_image{width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;

background-position: 3px -2980px;
background-image: 10px 30px;
background-size: 57px !important;
background-repeat: no-repeat;

}
.new_msexcel{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -2703px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_word{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -436px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_ppt{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -1820px;
background-image: 10px 30px;
background-size: 57px !important;
background-repeat: no-repeat;
}

.new_pdf{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -1535px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}

.new_jpg{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -7158px;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_txt{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -2398px;

background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_gif{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -5636px;
background-image: 10px 30px;
background-size: 57px !important;
}

.new_png{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -1681px;
background-repeat: no-repeat;
background-image: 10px 30px;
background-size: 57px !important;
}
.new_gif{
width: 59px;
height: 74px;
background: url(../images/folder_length3.png);
 background-repeat: no-repeat;   
background-position: 3px -2980px;
margin: 0 auto;
background-image: 10px 30px;
background-size: 57px !important;
}

.new_xml{
width: 59px;
height: 74px;
background: url(../images/folder_length1.png);
margin: 0 auto;
background-position: 3px -5636px;
background-image: 10px 30px;
background-size: 57px !important;
}

/* thumbnail view  ends*/

/* 16 images starts */


.blank_image16{
width: 30px;
height: 30px;
background: url(../images/small_blank_images.png);
margin: 0 auto;
background-image: 10px 30px;
background-repeat: no-repeat;
float:left;
}

.new_msexcel16 {
  width: 30px;
  height: 30px;
  background: url(../images/16pix.png);
  margin: 0 auto;
  background-position: 0px -1065px;
  background-repeat: no-repeat;
  /* background-size: 16px; */
  float: left;
}  

.new_word16{
width: 30px;
height: 30px;
background: url(../images/16pix.png);
margin: 0 auto;
background-position: 0px -145px;
background-repeat: no-repeat;
background-image: 10px 30px;

float:left;
}
.new_ppt16{
width: 30px;
height: 30px;
background: url(../images/16pix.png);
margin: 0 auto;
background-position: 0px -654px;
background-image: 10px 30px;

background-repeat: no-repeat;
float:left;
}

.new_pdf16 {
  width: 30px;
  height: 30px;
  background: url(../images/16pix.png);
  margin: 0 auto;
  background-position: 0px -536px;
  background-repeat: no-repeat;
  background-image: 10px 30px;
  float: left;
}  


.new_jpg16 {
  width: 30px;
  height: 30px;
  background: url(../images/16pix.png);
  margin: 0 auto;
  background-position: 0px -358px;
  background-image: 10px 30px;
  float: left;
  background-repeat: no-repeat;
}
.new_txt16{
width: 30px;
height: 30px;
background: url(../images/16pix.png);
margin: 0 auto;
background-position: 0px -920px;

background-repeat: no-repeat;
background-image: 10px 30px;

float:left;
}
.new_gif16{
width: 30px;
height: 30px;
background: url(../images/16pix.png);
margin: 0 auto;
background-position: 0px -5636px;
background-image: 10px 30px;

float:left;
}

.new_png16 {
  width: 30px;
  height: 30px;
  background: url(../images/16pix.png);
  margin: 0 auto;
  background-position: 0px -596px;
  background-repeat: no-repeat;
  background-image: 10px 30px;
  float: left;
}
.new_gif16{
width: 30px;
height: 30px;
background: url(../images/folder_length3.png);
 background-repeat: no-repeat;   
background-position: 0px -2980px;
margin: 0 auto;
background-image: 10px 30px;

float:left;
}

.new_xml16{
width: 30px;
height: 30px;
background: url(../images/16pix.png);
margin: 0 auto;
background-position: 0px -5636px;
background-image: 10px 30px;

float:left;
}
/* 16 images ends*/

/* image 32 starts*/


.blank_image32 {
margin-right: 10px;
width: 31px;
height: 30px;
background: url(../images/blank_32.png);
margin: 0 auto;
background-position: 7px 0px;
background-image: 10px 30px;
background-repeat: no-repeat;
float: left;
background-size: 22px;
}

.width_32_folder {
margin-right: 10px;
width: 30px;
height: 30px;
background: url(../images/width_32_folder.png);
margin: 0 auto;
background-position: -1px;
background-image: 10px 30px;
background-repeat: no-repeat;
float: left;
background-size: 27px;
}
.row_recent {
 min-height: 15px !important;
}
.row_recent >div {
  margin-right: 13px;
  margin-left: 12px;
}
.new_css32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -77px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_avi32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px 1px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_csv32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -147px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_doc32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -215px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
 /* margin-top: -7px;*/
}
.new_email32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -293px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_eps32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -366px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_html32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -458px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_jpg32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -551px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
 /* margin-top: -7px;*/
}
.new_mov32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -641px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_mp332 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -731px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_pdf32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -826px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_png32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -904px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_ppt32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -988px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
 /* margin-top: -7px; */
}
.new_rar32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1077px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_raw32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1168px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_tif32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1260px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_txt32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1353px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  /*margin-top: -7px;*/
}
.new_wav32 {
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1451px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.new_xls32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1548px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
 /* margin-top: -7px;*/
}
.new_zip32{
  width: 30px;
  height: 30px;
  background: url(../images/width_32.png);
  margin: 0 auto;
  background-position: 7px -1635px;
  background-repeat: no-repeat;
  background-size: 22px;
  float: left;
  background-repeat: no-repeat;
  margin-top: -7px;
}


/* image 32 end*/




.shared_title_1 span {
float: left;
margin-top: 4px;
line-height: 19px !important;
text-transform: capitalize;
}

.row_content ul li {
width: 89px !important;
position: relative;
/* min-height: 85px  !important;    */

}

.gifLoader {
	display:none;
position: relative;
top: 40%;
}
.gifLoader >img{display: block;
width: 93px;
margin: 0 auto;
position: relative;
top: 40%;}



/*for preview */
.preview_images{z-index: 10;
min-width: 500px;
margin: 0 auto;
background: #F0F0F0;
box-shadow: 0 0 15px;
position: relative;
display: none;
}

.preve_heading{border-bottom: 1px solid #ccc;
background: #ccc;}
.preve_heading >h1{margin: 0px;
font-size: 16px;
font-family: arial;
padding: 7px;}
.inner_prev_page{overflow:auto;height: 459px;
padding-left: 11px;
padding-right: 11px;}

.inner_prev_page >img {
display: block;
margin: 0 auto;
/* width: 100%; */
}
.preview_images {
top: 21px;
}
.preve_heading {
background: url(../images/left_heading.jpg) !important;
}
.close_prev {
position: absolute;
top: 8px;
background: #7A7A7A;
width: 18px;
border-radius: 50%;
height: 17px;
cursor: pointer;
color: #fff;
text-align: center;
line-height: 13px;
right: 9px;
font-size: 13px;
line-height: 16px;
}
.prew_right_click {
background: url(../images/right_icon.png);
background-position: 11px -213px, left;
height: 26px;
background-repeat: no-repeat;

}

.right_click_menu_file >ul >li.prew_right_click:hover {
border-left: 3px solid #666;
background: #E7E7E7;
border-bottom: 1px solid #ccc;
background: #E7E7E7 url(../images/right_icon.png);
background-repeat: no-repeat;
height: 26px;
background-repeat: no-repeat;
background-position: 11px -213px, left;
}




.prew_right_click >span {
line-height: 26px !important;
}

.new_select_box_shared {
 background: rgba(37, 124, 223, 0.22);
 /* border: 2px solid #66a7e8 !important; */
}

.mid_loading{  margin: 0 auto;
width: 200px;
margin-top: 5%;
position: relative;
clear: both;
display: none;
pointer-events: none;
}
.mid_loading >img  {  display: block;
  margin: 0 auto;}
.mid_loading >h1{  text-align: center;
  color: #5E5E5E;}

.row_content ul li span {
 font-size: 12px;
 word-wrap: break-word !important;
 display: block;
 height: 27px;
 overflow: hidden;
}
.row_content ul li {
 white-space: inherit  !important;
}

div.content_left > ul> li>span {
  float: left;
  line-height: -9px;
  /* position: absolute; */
  margin-top: -18px;
  margin-left: 45px;
  text-align: left;
  font-size: 12px;
  width: 119px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  z-index: 2;
}
div#fileThumbView >ul>li {
  height: 100px !important;
} 

.open_file {
  display: block !important;
/*   margin-top: 19px; */
  background-position: 0px 6px !important;
  width: 15px;
  height: 2px;
  background-repeat: no-repeat !important;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-right: 2px;
  padding-bottom: 2px;
} 
/*------------ /// NEW TEST 1 -----------*/

.subfolder_11:hover{background: rgba(37, 124, 223, 0.15) url(../images/dott_1.png);}
/*-------------/// NEW TEST 1------------*/



/* --------- start  upload code ----------*/

.uploadMultiple {
  width: 448px;
  display: block;
  margin: 0 auto;
  /* background: #323537; */
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FCFCFC;
  border-bottom: 1px solid #Ccc;
  border-top: 0px;
}


#upload{
/*     font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    width:250px;
    padding:30px;
    border-radius:3px;

    margin:200px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.uploadForm {
 width: 450px;
 margin: 0 auto;
 margin-top: 165px;
}
#drop {
  background-color: #FCFCFC;
  /* padding: 26px 34px; */
  /* margin-bottom: 30px; */
  /* border: 20px solid rgba(0, 0, 0, 0); */
  /* border-image: url('../images/border-image.png') 25 repeat; */
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7f858a;
  border: 1px solid #ccc;
  font-size: 12px;
  /* margin-bottom: 10px; */
  padding-bottom: 14px;
} 
#drop a {
  background-color: #007a96;
  padding: 9px 20px;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  line-height: 1;
  margin-left: 12px;
}
#drop a:hover{
    background-color:#0986a3;
}

#drop input{
  /*   display:none; */
  visibility:hidden;
  opacity:0;width:0px;height:0px;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    padding-left:31px;
    
}

#upload ul li {
  /* background-color: #333639; */
  /* background-image: -webkit-linear-gradient(top, #333639, #303335); */
 /*  background-image: -moz-linear-gradient(top, #333639, #303335);
  background-image: linear-gradient(top, #333639, #303335); */
  /* border-top: 1px solid #3d4043; */
  /* border-bottom: 1px solid #2b2e31; */
  /* padding: 15px; */
  height: 52px;
  width: 200px;
  float: left;
  position: relative;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#upload ul li input{
    display: none;
}


#upload ul li p {
  width: 98px;
  overflow: hidden;
  white-space: nowrap;
  color: #3C3131;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 63px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  line-height: 22px;
  font-size: 12px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 
#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 7px;
    left:10px;
    width:38px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../images/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}



#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}

.textClose{
	
	float: right;
    padding: 7px;
}
.textClose span{
	
	
    padding: 5px;
    background: #ccc;
    border-radius: 50%;
    font-size: 10px;
    width: 11px;
    display: block;
    cursor: pointer;
    color: #000;
	
}
.textClose2{
	
	float: right;
    padding: 7px;
}
.textClose2 span{
	
	
    padding: 5px;
    background: #ccc;
    border-radius: 50%;
    font-size: 10px;
    width: 11px;
    display: block;
    cursor: pointer;
    color: #000;
	
}

ul#ui-id-1:hover {
background: #fff;
cursor: pointer;
}
ul.ui-autocomplete {

margin: 0px;
padding: 0px;
list-style-type: none;
width: 443px !important;
padding: 8px;
float: left;
background: #F2F2F2;
border-bottom: 1px solid #ccc;
border-left: 3px solid #ccc;
font-size: 12px;
border-right: 1px solid #ccc;
max-height: 100px;
overflow: auto;
}


.subfolder_11{position: relative;}  

.forCenter{    position: absolute;
  height: 28px;
  background: rgba(204, 204, 204, 0.58);
  width: 100%;
  left: 0px;
  z-index: 1;
  top: 4px;}
.row_recent >span {
 float: left;
 clear: both;
 top: -12px;
 position: relative;
 left: 56px;
}

.left_sub_menu ul li span {
/* width: 100%; */
/* background: #f00; */
overflow: hidden;
width: 200px;
}

.uploadForm1{width: 449px;
 margin: 0 auto;}
.finishUpload{  float: right !important;
 /* clear: both; */
 margin-top: 10px !important;
 margin-bottom: 10px !important;
 
 cursor:pointer;
 }
.finishUpload2{  float: right !important;
 /* clear: both; */
 margin-top: 10px !important;
 margin-bottom: 10px !important;
 
 cursor:pointer;
 }

.uploadForm1 {
 background: #fff;
 border: 1px solid #ccc;
}

input.finishUpload {
 background: #D6D6D6;
 border: 0px;
 border: 1px solid #ccc;
 font-size: 17px;
float: right;
 /* clear: both; */
 margin-top: 10px;
 margin-bottom: 10px;
}
input.finishUpload2 {
 background: #D6D6D6;
 border: 0px;
 border: 1px solid #ccc;
 font-size: 17px;
float: right;
 /* clear: both; */
 margin-top: 10px;
 margin-bottom: 10px;
}
select#add_keywordkey {
 float: left;
 margin-right: 8px;
 outline: 0px;
}
div#imageContainer >img {
 max-width: 805px;
}

.test_1 > div > p {
 text-align: left !important;
}
.test_1 >div {
width: auto !important;
margin: 0px !important;
margin-top: 36px !important;
}

.notesRows >img{width: 8px;
 border: 1px solid #ccc;
 padding: 2px;
 border-radius: 50%;
 float: right;
 right: 10px;
 position: relative;
 cursor: pointer;}
 
 .keyword_edit{
 width: 15px;
 margin-right: 12px;
 margin-top:3px;
}

.edit_keyword {
float: left;
font-size: 12px;
/* padding: 10px; */
border: 1px solid #ccc;
background: #E2E2E2;
/* width: 51px; */
padding: 5px 4px;
text-align: center;
margin-left: 10px;
margin-top: 16px;
cursor: pointer;
text-transform: capitalize;
padding-left: 13px;
padding-right: 15px;
}
.edit_keyword_exit {
float: left;
font-size: 12px;
/* padding: 10px; */
border: 1px solid #ccc;
background: #E2E2E2;
/* width: 51px; */
padding: 5px 4px;
text-align: center;
margin-left: 10px;
margin-top: 16px;
cursor: pointer;
text-transform: capitalize;
padding-left: 13px;
padding-right: 15px;
}

.active_11{
	 background: rgba(37, 124, 223, 0.22) none repeat scroll 0 0;
    border: 2px solid #66a7e8 !important;
	
}

td.invite_people_list {
    display: block;
    width: 100% !important;
}
.share_content{}
.select_option{}
.remove_select{}
.share_content,.select_option,.remove_select{ float:left;}
.select_append {
  padding: 4px;
  border-bottom: 1px solid #Ccc;
}
.share_content {
    width: 473px;  line-height: 22px;
}
.select_option {
  font-size: 12px;
  margin-left: 12px;
  margin-right: 12px;
  line-height: 19px;
    width: 94px;
  text-align: left;
}
.remove_select {
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  margin-top:6px;
  margin-left:12px;
}
.sharing_mange >.table_append >table >tbody >tr >td {
  font-size: 14px;
  padding: 5px;
  width: 50%;
}   /******  LINE 1524 contect_css********/
.userforshhare{
	 border-width: 0;
    font-size: 15px;
 
    margin-top: 6px;
}
.clearBorder{
	border:0px !important;
}
.clearBorderLeft{
	border-left:0px !important;
}
.clearBorderRight{
	border-right:0px !important;
}
.clearBorderBottom{
	border-bottom:0px !important;
}

.attachClass{
	height:30px;
	border:0px;
}
.getHistory{
	background: #ccc;
	padding: 4px;
	border-radius: 2px;
	cursor: pointer;
}
.getAttch{
	background: #ccc;
	padding: 4px;
	border-radius: 2px;
	cursor: pointer;
}
<!-- mozilla started here-->
@-moz-document url-prefix() {
	
#contactdiv_getLink input[type="button"] {
    line-height: 22px ;
   font-weight: normal;
   font-family: arial;
}
#contactdiv_66 input[type="button"] {
    line-height: 22px ;
   font-weight: normal;
   font-family: arial;
}

#contactdiv_6 input[type="button"] {
    line-height: 22px ;
   font-weight: normal;
   font-family: arial;
}
#contactdiv_616 input[type="button"] {
    line-height: 22px ;
   font-weight: normal;
   font-family: arial;
}
#contactdiv_6 input[type="file"] {
   margin-bottom: 18px;
}
#contactdiv_616 input[type="file"] {
   margin-bottom: 18px;
}


}
<!--mozilla end here-->